<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
  <div class="container">
    
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex search" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск по имени" aria-label="Search"
        [formControl]="$search">
    </form>
  </div>
</nav>


<div class="container pt-2">
  <ng-container *ngIf="result.length; else noData">
    <app-card *ngFor="let item of result; let last=last" [class.mb-2]="!last" [item]="item"></app-card>
  </ng-container>
</div>

<ng-template #noData>
  <div>По запросу ничего не найдено</div>
</ng-template>