<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
  <div class="container">
    <h2 class="logo-name"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill"
        viewBox="0 0 16 16" class="icon">
        <path
          d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
        <path
          d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
      </svg>Глоссарий</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex search" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск по имени" aria-label="Search"
        [formControl]="$search">
    </form>
  </div>
</nav>


<div class="container pt-2">
  <ng-container *ngIf="result.length; else noData">
    <app-card *ngFor="let item of result; let last=last" [class.mb-2]="!last" [item]="item"></app-card>
  </ng-container>
</div>

<ng-template #noData>
  <div>По запросу ничего не найдено</div>
</ng-template>